terraform/gcp-gke/terraform.tfvars
/Users/o.ayoade/Documents/platform-reliability-lab/kubernetes/raw-manifests/02-secret.yaml
google-cloud-sdk
/Users/o.ayoade/Documents/platform-reliability-lab/google-cloud-sdk
.secrets/
